.bckgrnd {
  background-color: whitesmoke;
}
body{
  font-family: Times;
}
.FONT{
  font-family: 'UnifrakturMaguntia', cursive;
  font-family: 'Nosifer', cursive;
  font-size: 70px;
  margin-left: 40%;

}
.important{
  width: 300px;
  height: 380px;
  object-fit: cover;
  filter: blur(2px);
  box-shadow: 20px 30px 30px 0 rgba(0,0,0,.6);
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 40px;
  margin-left: 1em;
  float:left;
  margin-right: 10em;

}
.important:hover{
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.6);
  margin-top: 30px;

  filter: blur(0px);
  border-radius: 10px;
}

.Aboutme{
  font-size: 30px;
  font-family: 'Hi Melody', cursive;
  box-shadow: 10px 10px 6px 6px rgba(0,0,0,.4);
  margin-left: 2em;
  margin-bottom: 3em;
  margin-top: -10%;
  text-align: center;
  padding-bottom: 1em;
  padding-right: 4em;
  border-radius: 5px;

}
hr{
  width: 90%;

}
a:link{
  text-decoration: none;
}
#h2{
  font-family: 'Rye', cursive;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0.5em;
}
h2{
  font-family: monospace;
  font-size: 50px;
  font-weight: 400;
  margin-top: 4.5em;
  margin-bottom: 0.5em;

}
.emoji{
  border-radius: 50%;
  width:50px;
  height:50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
  transition: all .9s cubic-bezier(0.645, 0.045, 0.355, 1);

}
.emoji:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

}
.Top1{
  font-size: 75px;
  font-family: 'Rye', cursive;
  color:white;
  width:99%;
  background-color:#273746 ;
  padding: 0.05em;
  margin:0.09em;
  background: linear-gradient(to right, #273746 ,  #d5d8dc  );

}
.Top2{
  font-size: 30px;
  color: white;
  font-family: 'Rye', cursive;
  width:99%;
  background-color: #6e2c00;
  padding:left;
  padding: 0.05em;
  margin:0.05em;
  margin-bottom: 3em;
  background: linear-gradient(to right, #6e2c00 ,  #d5d8dc  );
}

.unimportant{
  font-size: 23px;
  margin-top: -1.5em;

}

h3{
  font-size: 20px;
}
.cont1{
  margin-top: 10%;
}
#bottom{
  background-color:  #6e2c00;
  margin-top: 40%;
  padding-left : 40%;
  padding-top: 1em;

}
.bottom{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: -0.5em;
  margin-right: 2em;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
   transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bottom:hover{
  width: 40px;
  height: 40px;
  opacity: 0.1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.contact{
  color: white;
  font-size:30px;
  font-family: 'Hi Melody', cursive;
}

/*HOVER EFFECTS*/

figure.image {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 300px;
  max-width: 410px;
  width: 100%;
  height: 300px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #6e2c00;


}
figure.image *,
figure.image *:before,
figure.image *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.image img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;

}
figure.image .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.image .title:before,
figure.image .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.image .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.image .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.image .title div:before,
figure.image .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.image .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.image .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.image h2,
figure.image h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.image h2 {
  font-weight: 400;
}
figure.image h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #6e2c00;
}
figure.image figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.image figcaption p {
  margin: 0;
  font-size: 20px;
}
figure.image a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.image:hover img,
figure.image.hover img {
  zoom: 5;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
  filter: blur(2px);

}
figure.image:hover .title:before,
figure.image.hover .title:before,
figure.image:hover .title:after,
figure.image.hover .title:after,
figure.image:hover .title div:before,
figure.image.hover .title div:before,
figure.image:hover .title div:after,
figure.image.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.image:hover .title:before,
figure.image.hover .title:before,
figure.image:hover .title:after,
figure.image.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.image:hover figcaption,
figure.image.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
