body {
  font-family: Times;
  margin: 0;
  padding: 0;
}

.bckgrnd {
  background-color:  #ccd1d1;
}

/*...............NAVIGATION...............*/

.navbar {
  border-radius: 5px;
  font-family: 'Passero One', cursive;
  background-color: #6e2c00;
  font-size: 25px;
  color: white;
  position: fixed;
  opacity: 0.8;
  height: 55px;

}

.navbar li a {
  color: white;
}

.fas.fa-bars {
  color: white;
}

.navbar .nav-link.active {
  background: #9A2617;
  color: white;
}

.navbar .nav-link:hover {
  background: white;
  color: black;
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fullBrand {
  font-family: 'Passero One', cursive;
  font-size: 28px;
  color: #00cccc;
}

.fullBrand .Sbrand {
  padding: 0;
  margin: 0;
  font-family: 'Hanalei', cursive;
  font-size: 38px;
  color: #de3721;
}

.important {
  width: 300px;
  height: 380px;
  object-fit: cover;
  box-shadow: 20px 30px 30px 0 rgba(0, 0, 0, .6);
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 40px;
  margin-left: 1em;
  float: left;
  margin-right: 10em;
  border-radius: 10px;
}

.important:hover {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .6);
  margin-top: 30px;
  filter: blur(0px);

}

.Aboutme {
  font-size: 30px;
  font-family: 'Hi Melody', cursive;
  box-shadow: 25px 20px 30px 15px rgba(0, 0, 0, .6);
  margin-left: 2em;
  margin-bottom: 3em;
  margin-top: -10%;
  text-align: center;
  padding-bottom: 1em;
  padding-right: 4em;
  border-radius: 5px;
}

hr {
  width: 90%;
}

a:link {
  text-decoration: none;
}

#h3 {
  font-family: 'Passero One', cursive;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 1em;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#h3:hover{
  text-shadow: 4px 6px 6px  #515a5a ;
}

.edu {
  margin-left: 10em;
  font-size: 25px;
  font-family: 'Hi Melody', cursive;
}

.eduh3 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-family: 'Passero One', cursive;
  font-size: 60px;
  font-weight: 400;
  margin-top: 4.5em;
  margin-bottom: 0.5em;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
h2:hover{
  text-shadow: 4px 6px 6px  #515a5a ;
}

.emoji {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.emoji:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.Top1 {
  border-radius: 5px;
  font-size: 75px;
  font-family: 'Rye', cursive;
  color: white;
  width: 99%;
  background-color: #273746;
  padding-left: 0.5em;
  margin: 0.09em;
  background: linear-gradient(to right, #273746, #d5d8dc);
}

.Top2 {
  border-radius: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Rye', cursive;
  width: 99%;
  background-color: #6e2c00;
  padding-left: 0.5em;
  margin: 0.05em;
  margin-bottom: 3em;
  background: linear-gradient(to right, #6e2c00, #d5d8dc);
}

.unimportant {
  font-size: 23px;
  margin-top: -1.5em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}
#Projects {
  font-family: 'Passero One', cursive;
  font-size: 100px;
  text-align: center;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#Projects:hover{
  text-shadow: 4px 6px 6px  #515a5a ;
}

.cont1 {
  margin-top: 10%;
}

#Pic1 {
  width: 100%;
  height: 233px;
}

#Pic2 {
  width: 100%;
  height: 233px;
}

#bottom {
  border-radius: 5px;
  background-color: #6e2c00;
  margin-top: 40%;
  padding-left: 40%;
  padding-top: 1em;
}

.bottom {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: -0.5em;
  margin-right: 2em;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
  filter: grayscale(100%);
}

.bottom:hover {
  width: 45px;
  height: 45px;
  opacity: 0.6;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  filter: grayscale(0);
}
.cont2{
  font-family: 'Ubuntu', sans-serif;
}
.html {
  width: 90%;
  background: linear-gradient(to right, #d5d8dc, #4CAF50);
  border-radius: 20px;
}

.css {
  width: 85%;
  background: linear-gradient(to right, #d5d8dc, #2196F3);
  border-radius: 20px;
}

.js {
  width: 60%;
  background: linear-gradient(to right, #d5d8dc, #f44336);
  border-radius: 20px;
}

/*HOVER EFFECTS*/

figure.image {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 300px;
  max-width: 410px;
  width: 100%;
  height: 300px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #6e2c00;

}

figure.image *, figure.image *:before, figure.image *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

figure.image img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
  filter: blur(1px);
}

figure.image .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}

figure.image .title:before, figure.image .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

figure.image .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

figure.image .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

figure.image .title div:before, figure.image .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

figure.image .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

figure.image .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

figure.image h2, figure.image h4 {
  margin: 0;
  text-transform: uppercase;
}

figure.image h2 {
  font-weight: 400;
}

figure.image h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #6e2c00;
}

figure.image figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}

figure.image figcaption p {
  font-family: 'Rye', cursive;
  font-family: 'Cute Font', cursive;
  margin: 0;
  font-size: 27px;
}

figure.image a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

figure.image:hover img, figure.image.hover img {
  zoom: 5;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
  filter: blur(2px);
}

figure.image:hover .title:before, figure.image.hover .title:before, figure.image:hover .title:after, figure.image.hover .title:after, figure.image:hover .title div:before, figure.image.hover .title div:before, figure.image:hover .title div:after, figure.image.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.image:hover .title:before, figure.image.hover .title:before, figure.image:hover .title:after, figure.image.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.image:hover figcaption, figure.image.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/*MEDIA QUERIES*/
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
/*meia querry for Safari IOS*/
@media print {
  .container {
    width: auto;
  }
}
